.wow {
  width: 100px;
}

#imgLogo{
  margin: 0 10px;
  height: 100px;
  width=auto;
}

header{
  background:url("../images/DU-header.png");
  min-height:630px;
  background-size:cover;
}

#menuNature{
  font-family: 'Comfortaa', cursive;
  font-size:20px;
}

.bg-color{
  background-color:rgb(0,0,0,0.1);
  min-height:630px;
}

.logo-name{
  margin-top: 250px;
  color:black;
  font-size:80px;
  font-family: 'Poland';
}

#efecto{
  color: #0050A1;
}

.header-h{
 color: black;
  font-size:50px;
  margin-top: 50px;
  font-family: 'Poland';
  margin-bottom: 50px;
}

@font-face {
  font-family: 'Poland';
  src: url("fonts/Poland.otf");
}

#acerca{
  
  margin-top: 50px;
  margin-button: 50px;
  
}

#acerca-img{
  background: url(../images/DU-portada.jpg) no-repeat center top;
  min-height:630px;
  background-size: cover;
}

#acerca-text{
  padding: 20px 100px 100px 100px;
  font-size: 20px;
}


#news-letter{
  
  margin-button: 100px;
  
}

.imgSocial{
  height: 45px;
}